.body {
    margin: 0;
    padding: 0;
}

.MainFont{
    font-family:Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.MainSection {
    margin: auto;
    width: 100%;
    max-width: 800px;
}

#MessageSuccess{
    border-radius: 8px;
    border: solid 2px black;
    padding: 20px; 
    width: 80%;
    height: 40px;
    margin-top:50px; 
    margin-left: 20px;
}

#MessageSuccess--messageSuccess{
    border-radius: 8px;
    border: 2px solid var(--colorDarkGreen);
    padding: 20px; 
    width: 80%;
    height: 90px;
    border-right-width: 80px;
    margin-top:50px; 
    margin-left: 20px;
}

#MessageSuccess--messageFailure {
    margin-top: 300px;
    border-radius: 8px;
    border: 2px solid var(--colorDarkRed);
    padding: 20px;
    width: 80%;
    height: 90px;
    border-right-width: 80px;
    margin-left: 20px;
}

.ButtonContinue {
    background-color: var(--colorDeepBlue);
    border: 0;
    color: var(--colorWhite);
    padding: 20px;
    border-radius: 14px;
    font-size: 16px;
    margin-top: 30px;
    margin-right: 20px;
    float:right;
}

.ButtonContinue--buttonHover:Hover {
    background-color: var(--colorDarkBlue);
    border: 0;
    color: var(--colorWhite);
    padding: 20px;
    border-radius: 14px;
    font-size: 16px;
    margin-top: 30px;
    margin-right: 20px;
    transition-duration: 0.3s;
    float:right;
}

.MainFont--borderFont{
    font-family:Helvetica Neue, Arial, Helvetica, sans-serif;
    line-height: 2.0;
    font-size: 14px;
}
.MainFont--errorMessageFont{
    font-family:Helvetica Neue, Arial, Helvetica, sans-serif;
    line-height: 2.3;
    font-size: 18px;
}

@media only screen and (max-width: 780px) {
    #MessageSuccess--messageSuccess{
        height: 160px; 
        padding-bottom: 25px; 
        transition-duration: 0.5s;
    }
    #MessageSuccess--messageFailure{
        height: 160px; 
        padding-bottom: 40px; 
        transition-duration: 0.5s;
    }
}

@media only screen and (max-width: 500px) {
    #MessageSuccess--messageSuccess{
        height: 160px; 
        padding-bottom: 50px;
        transition-duration: 0.5s;
    }
    #MessageSuccess--messageFailure{
        height: 160px; 
        padding-bottom: 40px;
        transition-duration: 0.5s;
    }
}


